/*estilos generales*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* cabezera y menu */
nav {
  background-color: #005f73;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #ffdd57;
}

/* contenido */
h1 {
  color: #005f73;
  text-align: center;
  margin-top: 20px;
}

p, ol, ul {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
}

/* listas de tarea */
ol li {
  background: #e0fbfc;
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 6px;
}

ol li:nth-child(odd) {
  background-color: #cfe7e8;
}

ol li:hover {
  background-color: #94d2bd;
  cursor: pointer;
}

/* pie de paginas*/
footer {
  background-color: #005f73;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
