/* cambia el color de solo los párrafos que están dentro del div */
.contenedor p {
    color: blue;
}

/*cambia el color del párrafo que está inmediatamente después del h2 */
h2 + p {
    color: red;
}

/*cambia el color de todos los párrafos que siguen a un h2 */
h2 ~ p {
    background-color: yellow;
}