/* alternar colores de filas */
.tareas li:nth-child(odd) {
  background-color: #f0f0f0; /* gris claro */
}

.tareas li:nth-child(even) {
  background-color: #dcdcdc; /* gris oscuro */
}

/* agregar ==>  */
.tareas li::before {
  content: "==> ";
  color: #333;
  font-weight: bold;
}

/* efecto del mouse */
.tareas li:hover {
  background-color: #cfcfcf;
  cursor: pointer;
}

/* cuando una tarea esté marcada como hecha */
.tareas li.hecha::after {
  content: " √";
  color: green;
  font-weight: bold;
}
